.card-wrapper {
  margin-top: 40px;
  width: 1152px;
  position: absolute;
}

.convert {
  border-top-left-radius: 8px;
}

.alert {
  border-radius: 0;
  border-top-right-radius: 8px;
}

.list-wrapper {
  width: 100%;
  height: 56px;
}

.list-wrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 56px;
  background-color: #f0f5fa;
  color: rgb(55, 80, 110);
  cursor: pointer;
}

.list-wrapper li:hover {
  color: rgba(55, 80, 110, 0.5);
  background-color: white;
}

.list-wrapper li:focus {
  color: #7eb6f3;
  background-color: white;
}

.list-wrapper li img {
  margin-right: 8px;
}

.amount-wrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 16px;
}

.convert:focus {
  color: #7eb6f3;
}

.main-wrapper {
  width: 100%;
  padding: 48px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.inputArea label {
  font-weight: 600;
}

.inputArea input,
select {
  padding: 12px;
  border: 0.8px solid rgb(221, 221, 221);
  border-radius: 8px;
  width: 319px;
  height: 49px;
}

.inputArea input:focus {
  border: 1px solid #7eb6f3;
}

.arrow-wrapper {
  width: 49.6px;
  height: 49.6px;
  border-radius: 500%;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
.arrow-wrapper,
select {
  cursor: pointer;
}

.span2 {
  color: rgb(20, 30, 55);
  font-size: 16px;
}

.span3 {
  color: rgb(92, 102, 123);
}

.infoBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.convertBtn {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgb(0, 113, 235);
  border: none;
  height: 47px;
  color: white;
}

.convertBtn:hover {
  background-color: rgb(38, 151, 255);
}

.infoWrapp {
  padding: 8px;
  background-color: rgb(242, 247, 254);
  border-radius: 8px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.infoWrapp p {
  width: 453px;
  font-size: 11px;
  margin-bottom: 0;
}
